@charset "UTF-8";
/*----------------------------------------
base
----------------------------------------*/
/*------------------common--------------------*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
@media only screen and (max-width: 700px) {
  html {
    scroll-padding-top: 6rem;
  }
}

body {
  background-color: #D9D9D9;
}

html,
body {
  width: 100vw;
}

.contentsBlock {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 900px) {
  .contentsBlock {
    width: 80%;
    max-width: 720px;
  }
}
@media only screen and (max-width: 700px) {
  .contentsBlock {
    width: 90%;
    max-width: 630px;
  }
}

section {
  margin-bottom: 8rem !important;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  section {
    margin-bottom: 6rem !important;
  }
}
section h2 {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 900px) {
  section h2 {
    font-size: 2.4rem;
  }
}

.textCenterParent {
  text-align: center;
}

/*------------------header--------------------*/
header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #D9D9D9;
  z-index: 1000;
}
header .flexBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
}
@media only screen and (max-width: 700px) {
  header .flexBlock {
    padding: 0 0.2rem;
  }
}
header .header--logoGroup {
  display: flex;
  align-items: center;
  height: 70px;
}
header .header--logoGroup img {
  width: 50px;
}
@media only screen and (max-width: 700px) {
  header .header--logoGroup img {
    width: 40px;
  }
}
header .header--logoGroup h1 {
  font-size: 2rem;
  padding-left: 1rem;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (max-width: 700px) {
  header .header--logoGroup h1 {
    font-size: 1.4rem;
  }
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul li {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  height: 60px;
}
header nav ul li:nth-of-type(6) {
  background-color: #333333;
}
header nav ul li:nth-of-type(6) a {
  color: #ffffff !important;
}
header nav ul li a {
  text-decoration: none;
  color: #333333;
  padding: 100% 0 0 0.8rem;
  box-sizing: border-box;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
header nav ul li a img {
  width: 20px;
}

/*------------------main--FV--------------------*/
.fv--shopName {
  font-size: 4rem;
  padding-top: 16rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #ffffff;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
.fv--catchCopy {
  text-align: center;
  color: #ffffff;
  padding-top: 20vh;
  height: 70px;
  display: block;
}

/*=== 丸が動いてスクロールを促す ====*/
/*スクロールダウン全体の場所*/
.scrolldown {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 10px;
  left: 50%;
}

/*Scrollテキストの描写*/
.scrolldown span {
  /*描画位置*/
  position: absolute;
  left: 10px;
  bottom: 1rem;
  /*テキストの形状*/
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  /*縦書き設定*/
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 1rem;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #eee;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 70px;
  }
  100% {
    bottom: 10px;
  }
}
/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
/* 線の描写 */
.scrolldown:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 1rem;
  left: 0;
  /*線の形状*/
  width: 2px;
  height: 50px;
  background: #eee;
}

/*------------------main--news--------------------*/
.newsWrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #999999 70%, #D9D9D9 30%);
}
@media only screen and (max-width: 700px) {
  .newsWrapper {
    background: linear-gradient(to top, #999999 50%, #D9D9D9 50%);
  }
}

.contentsBlock {
  position: relative;
  padding: 0 1rem 3rem;
  height: 100%;
  box-sizing: border-box;
}

.newsBlock {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .newsBlock {
    flex-direction: column;
  }
}
.newsBlock h2 {
  padding-right: 2rem;
}
@media only screen and (max-width: 700px) {
  .newsBlock h2 {
    padding: 0;
    margin-bottom: 2rem;
  }
}
.newsBlock--vewMore {
  text-decoration: none;
  display: inline-block;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);
          clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);
  background-color: #333333;
  color: #ffffff;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  right: 1rem;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

/*------------------main--onlineshop--------------------*/
.onlineWrapper {
  position: relative;
  height: 100% !important;
  display: block;
}
.onlineWrapper .contentsBlock {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
}
.onlineWrapper h2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: #D9D9D9;
  position: absolute;
  top: 0;
  transform: translateY(-50%) translateX(-50%);
  padding: 1rem 2rem;
  left: 50%;
}
.onlineWrapper .online--catchCopy {
  display: inline;
  transform: translateY(5rem);
  line-height: 3.2;
  font-size: 1.2rem;
  background-color: #D9D9D9;
  padding: 0.6rem 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  letter-spacing: 0.1rem;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (max-width: 900px) {
  .onlineWrapper .online--catchCopy {
    font-size: 1rem;
    line-height: 2.6;
    padding: 0.4rem 0.6rem;
  }
}
.onlineWrapper .online--catchCopy--block {
  margin-top: 15rem;
}
@media only screen and (max-width: 900px) {
  .onlineWrapper .online--catchCopy--block {
    margin-top: 10rem;
  }
}
.onlineWrapper .online--link {
  text-decoration: none;
  position: absolute;
  z-index: 10;
  background-color: #D9D9D9;
  color: #333333;
  border: 1px solid #333333;
  padding: 1rem;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  bottom: 0;
  transform: translateY(50%) translateX(-50%);
  left: 50%;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (max-width: 700px) {
  .onlineWrapper .online--link {
    width: 60%;
    text-align: center;
  }
}
.onlineWrapper ul {
  z-index: 1;
}
.onlineWrapper ul li img {
  width: 100%;
  aspect-ratio: 10/5;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 700px) {
  .onlineWrapper ul li img {
    aspect-ratio: 4/5;
  }
}

/*------------------main--gallery--------------------*/
.galleryWrapper .contentsBlock {
  position: relative;
  border: 1px solid #333333;
  padding: 4rem 2rem 3rem;
  box-sizing: border-box;
}
@media only screen and (max-width: 700px) {
  .galleryWrapper .contentsBlock {
    padding: 4rem 1rem 3rem;
  }
}
.galleryWrapper .contentsBlock h2 {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 2rem;
  background-color: #D9D9D9;
  padding: 1rem;
}

/*==================================================
ギャラリーのためのcss
===================================*/
.gallery {
  box-sizing: border-box;
  -moz-columns: 3;
       columns: 3; /*段組みの数*/
  padding: 0 15px; /*ギャラリー左右に余白をつける*/
  margin: 0;
}
@media only screen and (max-width: 700px) {
  .gallery {
    -moz-columns: 2;
         columns: 2;
  }
}

.gallery li {
  margin-bottom: 20px; /*各画像下に余白をつける*/
  list-style: none;
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img {
  width: 100%;
  height: auto;
  vertical-align: bottom; /*画像の下にできる余白を削除*/
  filter: grayscale(0.6);
}

/*------------------main--about--------------------*/
.aboutWrapper {
  background-color: #333333;
  padding: 5rem 0;
}
.aboutWrapper .contentsBlock {
  border: 1px solid #ffffff;
  position: relative;
  box-sizing: border-box;
  padding: 4rem 2rem 2rem;
}
.aboutWrapper .contentsBlock::before {
  position: absolute;
  content: "";
  border: 1px solid #ffffff;
  width: calc(100% - 30px);
  height: calc(100% + 30px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aboutWrapper .contentsBlock h2 {
  color: #ffffff;
  position: absolute;
  background-color: #333333;
  padding: 1rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about--flexBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .about--flexBlock {
    flex-direction: column;
  }
}
.about--leftBlock {
  padding-right: 1rem;
  box-sizing: border-box;
  width: 50%;
}
@media only screen and (max-width: 900px) {
  .about--leftBlock {
    padding: 0;
    width: 100%;
  }
}
.about--leftBlock p, .about--leftBlock time {
  color: #ffffff;
}
.about--nameBlock {
  margin-bottom: 2rem;
}
.about--nameBlock--en {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
.about--nameBlock--ja {
  font-size: 1.2rem;
  padding-left: 1rem;
}
.about--tableBlock {
  margin-top: 2rem;
}
.about--tableBlock table {
  width: 100%;
  margin-bottom: 3rem;
  box-sizing: border-box;
}
@media only screen and (max-width: 900px) {
  .about--tableBlock table {
    margin-bottom: 2rem;
  }
}
.about--tableBlock table th {
  width: 100%;
  text-align: left;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 1.1rem;
  vertical-align: bottom;
  display: block;
}
.about--tableBlock table td {
  padding: 0.5rem 0 1.2rem;
  width: 100%;
  display: block;
  letter-spacing: 0.1rem;
  vertical-align: top;
}
.about--tableBlock table td p {
  line-height: 1.6rem;
  letter-spacing: 0.1;
}
@media only screen and (max-width: 700px) {
  .about--tableBlock table td p {
    font-size: 0.9rem;
  }
}
.about--text {
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  margin-top: 0.6em;
}
@media only screen and (max-width: 700px) {
  .about--text {
    font-size: 0.9rem;
  }
}
.about--rightBlock {
  width: 50%;
  box-sizing: border-box;
}
@media only screen and (max-width: 900px) {
  .about--rightBlock {
    width: 100%;
  }
}
.about--rightBlock img {
  width: 100%;
  filter: grayscale(0.6);
}
@media only screen and (max-width: 900px) {
  .about--rightBlock img {
    aspect-ratio: 10/5;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 700px) {
  .about--rightBlock img {
    aspect-ratio: 4/5;
  }
}

/*------------------main--contact--------------------*/
.contactForm {
  background-color: #333333;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 6rem;
  box-sizing: border-box;
}
@media only screen and (max-width: 900px) {
  .contactForm {
    padding: 4rem;
  }
}
@media only screen and (max-width: 700px) {
  .contactForm {
    padding: 4rem 2rem;
  }
}
.contactForm::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border: 1px solid #ffffff;
}
.contactForm--text {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 700px) {
  .contactForm--text {
    font-size: 0.9rem;
  }
}
.contactForm--text small {
  color: #ffffff;
  font-size: 0.9rem;
  margin-top: 1rem;
}
@media only screen and (max-width: 700px) {
  .contactForm--text small {
    font-size: 0.8rem;
  }
}
.contactForm form {
  position: relative;
}
.contactForm form .flexBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 700px) {
  .contactForm form .flexBlock {
    flex-direction: column;
  }
}
.contactForm form .flexBlock label {
  color: #ffffff;
  width: 30%;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (max-width: 700px) {
  .contactForm form .flexBlock label {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
.contactForm form .flexBlock input,
.contactForm form .flexBlock select,
.contactForm form .flexBlock textarea {
  width: 70%;
}
@media only screen and (max-width: 700px) {
  .contactForm form .flexBlock input,
  .contactForm form .flexBlock select,
  .contactForm form .flexBlock textarea {
    width: 100%;
  }
}
.contactForm form .flexBlock input,
.contactForm form .flexBlock select {
  height: 3rem;
}
.contactForm form .flexBlock textarea {
  height: 20rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 700px) {
  .contactForm form .flexBlock textarea {
    margin-bottom: 1rem;
  }
}
.contactForm form button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (max-width: 700px) {
  .contactForm form button {
    width: 150px;
  }
}

/*------------------main--banner--------------------*/
.bannerWrapper .contentsBlock ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 700px) {
  .bannerWrapper .contentsBlock ul {
    flex-direction: column;
  }
}
.bannerWrapper .contentsBlock ul li img {
  width: 100%;
}

/*------------------footer--------------------*/
footer {
  -webkit-clip-path: polygon(70% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(70% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
  background-color: #333333;
}
@media only screen and (max-width: 700px) {
  footer {
    -webkit-clip-path: polygon(70% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(70% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
footer .contentsBlock {
  text-align: center;
  padding-bottom: 0.5rem;
}
footer small {
  display: block;
  color: #ffffff;
  font-size: 0.7rem;
}

.footer--logoBlock {
  margin-left: auto;
  margin-right: auto;
  padding-top: 7rem;
}
.footer--logoBlock .flexBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer--logoBlock .flexBlock img {
  width: 60px;
  padding-right: 1rem;
}
.footer--logoBlock .flexBlock p {
  font-size: 1.6rem;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
.footer--logoBlock p {
  color: #ffffff;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
.footer--shopName {
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
}
@media only screen and (max-width: 700px) {
  .footer--shopName {
    font-size: 2rem;
  }
}
.footer--toContact {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  border: 1px solid #ffffff;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 700px) {
  .footer--toContact {
    line-height: 1.6;
  }
}
.footer--toContact span {
  color: #ffffff;
  font-size: 1.6rem;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.1rem;
}

.toTop {
  color: #333333;
  background-color: #D9D9D9;
  display: inline-block;
  text-decoration: none;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 2rem;
  position: fixed;
  z-index: 15;
  bottom: 70px;
  right: 3rem;
  text-align: center;
  border: 1px solid #999999;
}
@media only screen and (max-width: 700px) {
  .toTop {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.6rem;
    right: 1rem;
    bottom: 30px;
  }
}

/*========= ページトップのためのCSS ===============*/
/*リンクの形状*/
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #942D2F;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
}

#page-top a:hover {
  background: #777;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  z-index: 9999;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*　上に上がる動き　*/
#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*　下に下がる動き　*/
#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}
/*========= ナビゲーションのためのCSS ===============*/
@media only screen and (max-width: 900px) {
  #g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 300;
    /*ナビのスタート位置と形状*/
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh; /*ナビの高さ*/
    background: #D9D9D9;
    /*動き*/
    transition: all 0.6s;
  }
}

/*アクティブクラスがついたら位置を0に*/
@media only screen and (max-width: 900px) {
  #g-nav.panelactive {
    right: 0;
  }
}

/*ナビゲーションの縦スクロール*/
@media only screen and (max-width: 900px) {
  #g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 300;
    width: 100%;
    height: 100vh; /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/*ナビゲーション*/
@media only screen and (max-width: 900px) {
  #g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 900px) and (max-width: 900px) {
  #g-nav ul {
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  #g-nav ul li {
    margin: 1rem 0;
  }
}

/*リストのレイアウト設定*/
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/*========= ボタンのためのCSS ===============*/
@media only screen and (max-width: 900px) {
  .openbtn {
    position: absolute;
    display: block;
    z-index: 301; /*ボタンを最前面に*/
    top: 10px;
    right: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
}

/*×に変化*/
@media only screen and (max-width: 900px) {
  .openbtn span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 2px;
    background-color: #333333;
    width: 45%;
  }
}

@media only screen and (max-width: 900px) {
  .openbtn span:nth-of-type(1) {
    top: 12px;
  }
}

@media only screen and (max-width: 900px) {
  .openbtn span:nth-of-type(2) {
    top: 18px;
  }
}

@media only screen and (max-width: 900px) {
  .openbtn span:nth-of-type(3) {
    top: 24px;
  }
}

@media only screen and (max-width: 900px) {
  .openbtn span:nth-of-type(3)::after {
    content: "Menu"; /*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top: 10px;
    left: -2px;
    color: #333333;
    font-size: 0.6rem;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 900px) {
  .openbtn.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
}

@media only screen and (max-width: 900px) {
  .openbtn.active span:nth-of-type(3) {
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .openbtn.active span:nth-of-type(3)::after {
    content: "Close"; /*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
    top: 10px;
    left: 4px;
  }
}

/*==================================================
スライダーのためのcss
===================================*/
#fv--slider {
  width: 100%;
  height: 100vh; /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

/*==================================================
スライダーのためのcss
===================================*/
.news--slider { /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 84%;
  margin: 0 auto;
}
@media only screen and (max-width: 700px) {
  .news--slider {
    width: 80%;
  }
}

.news--slider img {
  width: 90%; /*スライダー内の画像を横幅100%に*/
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/
.news--slider .slick-slide {
  margin: 0 10px;
}

/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute; /*絶対配置にする*/
  top: 42%;
  cursor: pointer; /*マウスカーソルを指マークに*/
  outline: none; /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666; /*矢印の色*/
  border-right: 2px solid #666; /*矢印の色*/
  height: 10px;
  width: 10px;
}

.slick-prev { /*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next { /*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
/*----------------------------------------
reset
----------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #333333;
}

p,
a {
  word-break: keep-all;
  overflow-wrap: anywhere;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}