@use "../setting" as *;
@use "_breakpoint" as *;


@mixin marginCenter($display:block) {
  display: $display;
  margin-left: auto;
  margin-right: auto;
}

@mixin displayFlex($aI: center, $jC:space-between) {
  display: flex;
  align-items: $aI;
  justify-content: $jC;
}

@mixin positionCenter($top:50%, $left:50%, $tlY:-50%, $tlX:-50%) {
  top: $top;
  left: $left;
  transform: translate($tlY, $tlX);
}

@mixin positionCenter2($left:50%, $tlX:-50%) {
  left: $left;
  transform: translateX($tlX);
}


@mixin fontFredericka {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}


@mixin max($breakPoint) {
  @media #{map-get($breakPints, $breakPoint)} {
    @content;
  }
}